body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

p {
    border: 1px solid darkblue;
    padding: 30px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

tab1 {
    position: absolute;
    left: 200px;
    width: 300px;
}