<!DOCTYPE html>
<html>
<head>
  <title>
    <%=title %>
  </title>
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <% for(var i in messages) { %>
    <div class="flash"><%= messages[i] %></div>
  <% } %>
  <form action="/users/signup" method="post">
  <h1>User Details</h1>
    <div>
      <label>First Name:</label>
      <tab1 /><input type="text" name="firstName" />
    </div>
    <div>
      <label>Last Name:</label>
      <tab1 /><input type="text" name="lastName" />
    </div>
    <div>
      <label>Email:</label>
      <tab1 /><input type="text" name="email" />
    </div>
    <div>
      <label>Username:</label>
      <tab1 /><input type="text" name="username" />
    </div>
    <div>
      <label>Password:</label>
      <tab1 /><input type="password" name="password" />
    </div>
     <div>
         <input type="radio" name="userType" value="parent" />Parent
         <input type="radio" name="userType" value="employee" />Employee
    </div>
    <div>
      <input type="submit" value="Sign up" />
    </div>
  </form>
</body>
</html>